/* CSS comment */

body {
    background-color:black;
    height:100%;
    margin:0;
    overflow:hidden;
    width:100%
}

button {
    border:none;
    background-color: transparent;
    font-size: larger;
    margin: 20% 30%;
    padding:5px 25px;
}

.center {
    align-items: center;
    background-color:ivory;
    border-color: #151b54;
    border-radius: 15px;
    border-style: solid;
    box-shadow: 0px 0px 3px 3px #250517;
    color: black;
    display:flex;
    justify-content: center;
    min-height:200px;
    min-width: 400px;
    position:absolute;
    z-index:2;
}

.center:hover {
    border-color: #2b3856;
    box-shadow: 0px 0px 5px 5px #7e587e;
    color: white;
    text-shadow: 3px 3px 3px #6a287e;
}

.contact {
    bottom:0;
    font-family: "zapfino", "luminari", "Academy Engraved Let";
    font-size:large;
    font-weight:normal;
    position:absolute;
    z-index:1;
}

.contact a {
    color:transparent;
    text-decoration: none;
}
  
.contact a:hover {
    color: black;
    text-shadow: 0px 0px 2px lightsteelblue;
}

#lower {
    position:absolute;
    bottom:-60px;
}

.lower-forward {
    position:absolute;
    right:0px;
    bottom:0px;
}

.lower-half {
    bottom:0;
    height:50%;
    position:absolute;
    width:100%;
    z-index:1;
}

.lower-left {
    background-color: transparent;
    position:absolute;
    bottom:0;
    left:0;
    height:50%;
    width:50%;
}

.lower-rewind {
    position:absolute;
    left:10px;
    bottom:0;
}

.lower-right {
    background-color: transparent;
    position:absolute;
    bottom:0;
    right:0;
    height:50%;
    width:50%;
}

main {
    align-items:center;
    background-color:white;
    min-height:100vh;
    min-width:100vw;
    display:flex;
    justify-content:center;
    font-family: "herculanum", "papyrus", "marker felt", "comic sans ms";
    font-size: 30px;
    font-weight:bolder;
}

#middle {
    position:absolute;
}

#upper {
    position:absolute;
    top:-60px;
}

.upper-forward {
    position:absolute;
    right:0;
    top:0;
}

.upper-half {
    top:0;
    height:50%;
    position:absolute;
    width:100%;
    z-index:1;
}

.upper-left {
    background-color: transparent;
    position:absolute;
    top:0;
    left:0;
    height:50%;
    width:50%;
}

.upper-rewind {
    position:absolute;
    left:0;
    top:0;
}

.upper-right {
    background-color: transparent;
    position: absolute;
    top:0;
    right:0;
    height:50%;
    width:50%;
}


@media (max-width: 600px) {

    .center {
        min-width:225px;
        min-height:200px;
    }

}

@media (max-width: 400px) {

    .center {
        min-width:175px;
        min-height:175px;
    }

    .contact {
        font-size:small;
    }

}
