/* CSS comment */

body {
    background-color:black;
    height:100%;
    margin:0;
    overflow:hidden;
    width:100%
}

.center {
    align-items: center;
    background-color:ivory;
    border-color: #151b54;
    border-radius: 15px;
    border-style: solid;
    box-shadow: 0px 0px 2px 2px #250517;
    color: black;
    display:flex;
    justify-content: center;
    min-height:200px;
    min-width: 400px;
    position:absolute;
    z-index:2;
}

.center:hover {
    border-color: #2b3856;
    box-shadow: 0px 0px 3.5px 3.5px #7e587e;
    color: white;
    text-shadow: 3px 3px 3px #6a287e;
}

.contact {
    bottom:0;
    font-family: "zapfino", "luminari", "Academy Engraved Let";
    font-size:large;
    font-weight:normal;
    position:absolute;
    z-index:1;
}

.contact a {
    color:transparent;
    text-decoration: none;
}
  
.contact a:hover {
    color: black;
    text-shadow: 0px 0px 2px lightsteelblue;
}

.lower {
    position:absolute;
    bottom:-60px;
}

.lower-forward-horizontal {
    background-color:black;
    height:5px;
    right:25%;
    width:30px;
    position:absolute;
}

.lower-forward-vertical {
    background-color:black;
    height:5px;
    right:25%;
    width:30px;
    position:absolute;
    transform:rotate(90deg);
}

.lower-half {
    bottom:0;
    height:50%;
    position:absolute;
    width:100%;
    z-index:1;
}

.lower-left { 
    align-items: center;
    background-color: transparent;
    bottom:0;
    display:flex;
    left:0;
    height:100%;
    position:absolute;
    width:50%;
}

.lower-rewind {
    background-color:black;
    height:5px;
    left:25%;
    width:30px;
    position:absolute;
}

.lower-right {
    align-items: center;
    background-color: transparent;
    bottom:0;
    display:flex;
    height:100%;
    position:absolute;
    right:0;
    width:50%;
}

main {
    align-items:center;
    background-color:white;
    min-height:100vh;
    min-width:100vw;
    display:flex;
    justify-content:center;
    font-family: "herculanum", "papyrus", "marker felt", "comic sans ms";
    font-size: 30px;
    font-weight:bolder;
}

.middle {
    position:absolute;
}

.upper {
    position:absolute;
    top:-60px;
}

.upper-forward-horizontal {
    background-color:black;
    height:5px;
    right:25%;
    width:30px;
    position:absolute;
}

.upper-forward-vertical {
    background-color:black;
    height:5px;
    right:25%;
    width:30px;
    position:absolute;
    transform:rotate(90deg);
}

.upper-half {
    top:0;
    height:50%;
    position:absolute;
    width:100%;
    z-index:1;
}

.upper-left {
    align-items: center;
    background-color: transparent;
    display:flex;
    left:0;
    height:100%;
    position:absolute;
    top:0;
    width:50%;
    text-align: center;
}

.upper-rewind {
    background-color:black;
    height:5px;
    left:25%;
    width:30px;
    position:absolute;
}

.upper-right { 
    align-items: center;
    background-color: transparent;
    display:flex;
    height:100%;
    position: absolute; 
    right:0;
    top:0;
    width:50%;
}


@media (max-width: 1000px) {

    .center {
        min-height:175px;
        min-width:300px;
    }

}

@media (max-width: 700px) {

    .center {
        min-width:175px;
        min-height:300px;
    }

    .contact {
        font-size:small;
    }

    .lower {
        bottom:-80px;
    }

    .upper {
        top:-80px;
    }

}
